dist
tsdist
node_modules
.idea
*.iml


jsmf
*jsmf*
*/jsmf*
test/jsmf
test/jsmf/*
jsmf1.js
jsmf10.js

wip
wip/*

gitana.json
gitana-test.json
cloudcms.json
cloudcms-test.json

.DS_Store
package-lock.json